{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $features := index $section3 "features" }}
{{- $image      := index $section3 "image" }}
<section class="section is-medium" id="spec">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
        <div class="has-text-centered">
          <img style="margin-top: 5rem" src="{{ printf "/images/%s" $image | relURL }}">
        </div>
      </div>
      <div class="column is-7 mt-60">
        {{- range $features }}
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img style="width: 26px;" src="/images/checkmark.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text | markdownify }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div>
  </div>
</section>
