{{- $section4 := .Site.Params.section4 }}
{{- $photos  := index $section4 "photos" }}
<section class="section is-medium section-secondary">
  <div class="container">
    <div class="content-wrapper">
      <div class="columns is-vcentered">
        <div class="pictures">
        {{- range $photos }}
        <div class="column is-3">
          <a href="{{ printf "/images/photos/%s_large.jpg" .name | relURL }}" class="picture glightbox">
            <img src="{{ printf "/images/photos/%s.jpg" .name | relURL }}"/>
          </a>
        </div>
        {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
